*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat';
}

/* Gör att det inte går att scrolla på index.html */
.body1{
  overflow: hidden;
}
/* Styling av videon, 100% width och height så att den täcker hela fönstret. */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* Styling av all header-text*/
header {
  text-align: center;
  top: 50%;
  left: 50%;
  margin-bottom: 1rem;
  align-self: center;
  border: 2px solid white;
  color: white;
  z-index: 2;
}

/* Placeringen av länken till dive.html */
.lanktilldive{
  top: 50%;
  text-decoration: none;
  color: white;
}
.heading1 {
  border: none;
}

/* Styling och transition av menyn */
#showText {
  opacity: 0;
  transition: opacity 1s linear;
}

/* Styling av själva hamburger-menyn*/
nav {
  position: absolute;
  background-color: black;
  opacity: 70%;
}
/* Styling av länkarna i hamburger-menyn*/
nav #links {
  position: fixed;
  padding-top: 2.5rem;
  width: 0px;
  left: 0;
  height: 100%;
  /*grid-column: 1/3;
  grid-row: 1/-1;*/
  background-color: black;
  opacity: 85%;
  overflow-x: hidden;
  z-index: 1;
  transition: 500ms;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  display: block;
  opacity: 100%;
}

nav a:hover {
  color: gray;
  transition: 150ms linear;
}

nav > a.icon {
  background: none;
  color: white;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.fa{
width:10%;
height:10%;
}
.bort{
  width: 0;
}
/* Styling av allt innehåll på sidan */
.why{
  z-index: 2;
  color:black;
  font-size: 2.8rem;
  text-align: center;
  align-self: center;
}
.parachute{
  display:inline-block;
  border: 2px solid black;
  align-self: center;
}

.palm {
align-self: center;
display:inline-block;
border: 2px solid black;
width:100%;
}

.view{
  color:black;
  font-size: 2.8rem;
  text-align: center;
  align-self: center;
}

.glad{
  width:100%;
  align-self: center;
  display:inline-block;
  border: 2px solid black;
}

.fun{
  color:black;
  font-size: 2.8rem;
  text-align: center;
  align-self: center;
  font-weight: bold;
}

.boka{
  align-self: center;
  display:inline-block;
  border: 2px solid black;
  width:100%;
}

.booking{
 align-self: center;
}

.varning{
  align-self: center;
  display:inline-block;
  width: 100%;
}
 /* Styling av alla knapparna som länkar externt */
 .knapp{
  background-color: rgb(78, 174, 231); /* blå */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  align-self: baseline;
  margin-top: 1.5rem;
}
.knapp {
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
}

.knapp:hover {
  background-color: white;
  color: black;
}


/* Koden som gör att scroll-snapping fungerar på sidan */
html {
  scroll-snap-type: y mandatory;
}
/* Classen som gör att snappingen centrerar objektet i center av skärmen */
.snappy {
  scroll-snap-align: center;
}

/* Mobilanpassningen */
@media only screen and (max-width: 450px){
  .parachute{
    width:0;
  }
  .palm{
    height:100%;
  }
  .varning{
    width:100%;
}
html {
  scroll-snap-type: none;
}
/* ifall videon inte kan spelas på mobila enheter*/
#showText{
  opacity: 1;
}
}
